body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {height: 3.125em }
.dtdb-icon {height: 1.625em ; width: 1.625em ;}

.navbar {
  background-color: black;
  font-family: 'IM Fell DW Pica SC', serif;
}


.search-box {
  margin-left: auto;
}

.nav-link {
  font-size: 100%;
}

.navbar-brand {
  font-size: 150%;
}

.dropdown-item, .footer {
	font-size: 70%
}

@font-face {
	font-family: 'icomoon';
	src:url('./fonts/icomoon.eot?-mu1mk3');
	src:url('./fonts/icomoon.eot?#iefix-mu1mk3') format('embedded-opentype'),
		url('./fonts/icomoon.woff?-mu1mk3') format('woff'),
		url('./fonts/icomoon.ttf?-mu1mk3') format('truetype'),
		url('./fonts/icomoon.svg?-mu1mk3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.card-face, .card-rank, .card-header, .page-header, .set-card-title{font-family: 'Ultra', serif;}

/* fonts */
h2,h3,h4,h5,h6,.navbar{font-family:inherit;}
/* copy text */
body {font-family: 'Noto Sans', sans-serif;}
/* main headers */
h1, #index_page .section{font-family:'IM Fell DW Pica SC', serif}
/* brand name */
.page-header h1, .navbar-brand  {font-family:'IM Fell DW Pica SC', serif}
.page-header h1 {

	font-size: 40px;
	font-size: 4vmax;
}

/* decklist names and user names */
.decklist-name{font-family:'Anaheim',sans-serif}
.reputation{font-family:'Anaheim',sans-serif}
.username{font-family:'Anaheim',sans-serif}
.social{color:darkgray;font-family: 'Anaheim';}
.social>div>a, .social>div>span{margin:0 10px;font-family:'Anaheim'}

/* classes .card-* used in card pages, card modal, card tip */
.card-summary{border-width:3px}
.card-title{font-size:175%;font-weight:bold;font-variant: small-caps }
.card-text{border-left:1px solid #888}
.card-text sup{line-height:0;font-size:x-small}
/*.card-text p{margin:6px}*/
.card-flavor{font-style:italic; font-size:75%}
.pack-future, .card-preview{color:red}
.card-keywords {font-weight:bold;text-align:center}
.card-extra {text-align:right}
.card-summary-image { border-radius: 1.5em;height:420; width:300 }
.card-header >* .card-face { font-size:150% }
.card-footer {height: 2em; font-style:italic}
.card-header {height: 3em;}
.set-card-title { font-variant: small-caps }


.set-list >* td, th {
	text-align: center;
	border-right-style: none;
	border-left-style: none;
	padding: 8px;
}

.set-list >* th {
	font-weight: bold;
	font-size: 125%
}


[class^="suit-"], [class*=" suit-"] {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.suit-spades:before {
	content: "\e600";
}
.suit-clubs:before {
	content: "\e601";
}
.suit-diams:before {
	content: "\e602";
}
.suit-hearts:before {
	content: "\e603";
}

#push{clear:both}
.type-icon,.gang-icon{
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;	

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

.card-face-diams, .card-face-hearts, .suit-diams, .suit-hearts { color: red }
